.home-sun {
  position: relative;
  width: 67px;
  height: 67px;
}

.home-sun__circle,
.home-sun__ray {
  position: absolute;
  display: block;
}

.home-sun__circle {
  left: 22px;
  top: 22px;
}

.home-sun__ray--top {
  left: 32px;
  top: 6px;
}

.home-sun__ray--bottom {
  left: 32px;
  top: 50px;
}

.home-sun__ray--left {
  left: 6px;
  top: 32px;
}

.home-sun__ray--right {
  left: 50px;
  top: 32px;
}

.home-sun__ray--top-left {
  left: 14px;
  top: 14px;
}

.home-sun__ray--bottom-right {
  left: 45px;
  top: 45px;
}

.home-sun__ray--top-right {
  left: 45px;
  top: 14px;
}

.home-sun__ray--bottom-left {
  left: 14px;
  top: 45px;
}